@model lab1_AS.Models.Student;

<h1>Witamy na stronie głównej</h1>

<p>
    Studenci:

    <ul>
        <li><a asp-controller="student" asp-action-"index" asp-route-id=1>Imie1 Nazwisko1</a></li>
        <li><a asp-controller="student" asp-action-"index" asp-route-id=2>Imie2 Nazwisko2</a></li>
        <li><a asp-controller="student" asp-action-"index" asp-route-id=3>Imie3 Nazwisko3</a></li>
    </ul>
</p>